* {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  background: black;
  color: #8CF4E2;
}

#secs{
  font-size: 16px;
}
audio {
  background: black;
  color: #8CF4E2;
  font-family: 'Orbitron', sans-serif;
}

#dayOrNight{
  position: relative;
  font-size: 14px;
  right:100px;
  top: 45px;
}

#weekDay{
  position: relative;
  font-size: 12px;
  left: -108px;
  bottom: 25px;
}

#amPM{
  position: relative;
  font-size: 12px;
  top: 32px;
  left: 80px;
}

select, button {
  border-radius: 9px;
  font-size: 16px;
}

#date {
  position: relative;
  font-size: 10px;
  left: -113px;
  bottom: 25px;
}

li {
  list-style: none;
  font-size: 9px;
}
